[v-cloak]{display: none;}

* {
	font-family: Calibri;
	letter-spacing: 1px;
	color: #080EB8;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 1.75em;
	width: 46.5vw;
	height:70px;
	color: #D7DDAA;
	cursor: pointer;
}

li {
	display: inline-block;
	margin: 10px 40px;
}

a {
	text-decoration: none;
}

label, input {
	display: block;
}

.bold {
	font-weight: bold;
}

/**	HEADER	**/

/*	Toolbar Index	*/
.v-toolbar__content {
	background-color: #080EB8;
}

/*	Botón links	*/
.v-btn {
	margin-left: 30px !important;
	margin-top: 30px;
	color: #D7DDAA !important;
}

/*	Barra lateral izquierda	*/
.v-navigation-drawer__content {
	background-color: #D7DDAA !important;
}

/*	Lista de secciones	*/
#v-list-nav {
	background-color: #D7DDAA !important;
}

/**	MAIN	**/

/*-- HOME  --*/

/*	Fondo Home  */
.v-main__wrap, #app {
	background-color: white;
}

.div_home {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.div_home section {
	text-align: center;
	margin-bottom: 100px;
}

.div_home h2 {
	font-size: 4em;
	margin: 0;
}

.div_home p {
	margin-top: 40px;
}

.div_home p , .button_home {
	font-size: 1.25em;
}

.button_home {
	margin-top: 40px;
	padding: 10px 40px;
	border: none;
	border-radius:  15px;
	background: #D7DDAA;
	cursor: pointer;
	display: block;
	box-shadow: 2px 2px 2px #080EB8;
}

/*-- COTIZAR  --*/

.section_1 {
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

.section_1 img {
	margin-right: 20px;
}

.v-form {
	width: 30% !important;
	margin: 0 auto 50px auto;
}

/*  INFORMACIÓN  */

.div_informacion h2 {
	margin-top: 40px;
}

.div_informacion p {
	margin-top: 20px;
}

.div_informacion h2, p {
	text-align: center;
}

.div_informacion button {
	margin: 0 auto;
	margin-bottom: 15px;
}

.section_informacion {
	text-align: center;
	width: 30%;
	background-color: #D7DDAA;
	box-shadow: 2px 2px 2px black;
	border-radius: 30px;
	padding: 10px;
	margin: 40px auto;
}

.section_informacion h3 {
	margin-bottom: 20px;
}

.section_informacion .v-card {
	margin-bottom: 20px;
}

.section_informacion .v-list-item {
	background-color: #D7DDAA;
}

/**	FOOTER	**/

.text-center{
	background-color: #080EB8;
	padding: 15px;
}

footer ul {
	text-align: center;
}

footer li {
	color: #D7DDAA;
	display: block;
}

/* TRANSICIONES */

.router-link-exact-active {
	color: #D5E915;
	background-color: #080EB8;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 2px 2px 2px #080EB8;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
{
  transform: translateX(10px);
  opacity: 0;
}
