[v-cloak]{display: none;}

* {
	font-family: Calibri;
	letter-spacing: 1px;
	color: black;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 1.75em;
	width: 46.5vw;
	height:70px;
	color: white;
	cursor: pointer;
}

li {
	display: inline-block;
	margin: 10px 40px;
}

a {
	text-decoration: none;
}

label, input {
	display: block;
}

.bold {
	font-weight: bold;
}

/**	HEADER	**/

/*	Botón links	*/
.v-btn {
	margin-left: 30px !important;
	margin-top: 30px;
	color: white !important;
}

/*	Barra lateral izquierda	*/
.v-navigation-drawer__content {
	background-color: #d93a3e !important;
}

/*	Lista de secciones	*/
#v-list-nav {
	background-color: #d93a3e !important;
}

#item-title-index {
	color: white;
}

::before {
    color: white;
}

/**	MAIN	**/

/*-- HOME  --*/

/*	Fondo Home  */
.v-main__wrap, #app {
	background-color: white;
}

.div_home {
	width: 100%;
}
/*
.div_home section {
	text-align: center;
	margin-bottom: 100px;
}

.div_home h2 {
	font-size: 4em;
	margin: 0;
}

.div_home p {
	margin-top: 40px;
}

.div_home p , .button_home {
	font-size: 1.25em;
}*/

.div_home .section_carousel {
	margin-top: 50px;
	width: 100%;
}

/* Imagen actual del slider. */
.v-window-item {
	cursor: pointer;
}

.section_home_2 {
	margin-top: 50px;
	text-align: center;
}

.section_home_2 h2 {
	font-size: 3em;
}

.section_home_2 p {
	font-size: 1.5em;
}

.button_home {
	margin: 25px auto;
	padding: 10px 40px;
	border: none;
	border-radius: 15px;
	background: #d93a3e;
	color: white;
	cursor: pointer;
	display: block;
	box-shadow: 2px 2px 2px #080EB8;
}

/*-- COTIZAR  --*/

.section_1 {
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

.section_1 img {
	margin-right: 20px;
}

.v-form {
	width: 30% !important;
	margin: 0 auto 50px auto;
}

.form ::before {
    color: black;
}

/*  INFORMACIÓN  */

.div_informacion h2 {
	margin-top: 40px;
}

.div_informacion p {
	margin-top: 20px;
}

.div_informacion h2, p {
	text-align: center;
}

.div_informacion button {
	margin: 0 auto;
	margin-bottom: 15px;
}

.section_informacion {
	text-align: center;
	width: 30%;
	background-color: #d93a3e;
	box-shadow: 2px 2px 2px black;
	border-radius: 30px;
	padding: 10px;
	margin: 40px auto;
}

.section_informacion h3 {
	margin-bottom: 20px;
	color: white;
}

.section_informacion .v-card {
	margin-bottom: 20px;
}

.section_informacion .v-list-item {
	background-color: #d93a3e;
}

.v-list-item__title {
    color: white;
}

.v-list-item__subtitle {
    color: white !important;
}

/**	FOOTER	**/

footer {
	margin-top: 50px;
}

.text-center{
	background-color: #d93a3e !important;
	text-align: left;
}

.v-card__text {
    display: flex;
    justify-content: center;
    background-color: #d93a3e !important;
    padding: 0 !important;
    margin-bottom: 25px;
}

ul {
	text-align: center;
}

.v-application ol, .v-application ul {
    padding-left: 0 !important;
}

footer li {
	color: white;
	display: block;
}

.indigo.lighten-1.black--text.text-center.v-card.v-card--flat.v-sheet.theme--light.rounded-0 {
    background-color: #d93a3e;
}

/* TRANSICIONES */

.router-link-exact-active {
	color: #D5E915;
	background-color: #080EB8;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 2px 2px 2px #080EB8;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
{
  transform: translateX(10px);
  opacity: 0;
}
